div {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button{
    background: none;
    font-size: large;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 40px;
}

h1{
    text-align: center;
}