h1{
    text-align: center;
    margin-top: 50px;
}

div{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

button{
    padding: 20px 40px;
    border-radius: 40px;
    background: none;
    font-size: 30px;
    font-weight: bold;
}