body{
    background-color: gray;
    text-align: center;
}

button{
    padding: 20px 30px;
    border-radius: 40px;
}

#collect-text{
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
}